/JAZG/JAZG/obj/project.assets.json
/JAZG/JAZG/obj/project.nuget.cache
/JAZG/JAZG/obj/project.packagespec.json
/JAZG/JAZG/obj/rider.project.restore.info
/JAZG/JAZG/obj/JAZG.csproj.nuget.dgspec.json
/JAZG/JAZG/obj/JAZG.csproj.nuget.g.props
/JAZG/JAZG/obj/JAZG.csproj.nuget.g.targets
/JAZG/JAZG/obj/Debug/net5.0/JAZG.pdb
/JAZG/JAZG/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/JAZG/JAZG/obj/Debug/net5.0/apphost.exe
/JAZG/JAZG/obj/Debug/net5.0/JAZG.AssemblyInfo.cs
/JAZG/JAZG/obj/Debug/net5.0/JAZG.AssemblyInfoInputs.cache
/JAZG/JAZG/obj/Debug/net5.0/JAZG.assets.cache
/JAZG/JAZG/obj/Debug/net5.0/JAZG.csproj.AssemblyReference.cache
/JAZG/JAZG/obj/Debug/net5.0/JAZG.csproj.CopyComplete
/JAZG/JAZG/obj/Debug/net5.0/JAZG.csproj.CoreCompileInputs.cache
/JAZG/JAZG/obj/Debug/net5.0/JAZG.csproj.FileListAbsolute.txt
/JAZG/JAZG/obj/Debug/net5.0/JAZG.dll
/JAZG/JAZG/obj/Debug/net5.0/JAZG.GeneratedMSBuildEditorConfig.editorconfig
/JAZG/JAZG/obj/Debug/net5.0/JAZG.genruntimeconfig.cache
/JAZG/JAZG/obj/Debug/net5.0/ref/JAZG.dll
